---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Orden'
    value: page.orden_religiosa
  - label: 'Género'
    value: page.sexo
  - label: 'Fuente'
    value: page.source
  - label: 'Autor'
    value: page.author
  - label: 'Fecha de publicación'
    value: page._date
---

- label: 'Type'
value: page.object_type
- label: 'Location'
value: page.location

- label: 'IIIF Manifest'
value: page.manifest
type:  link
